.lorem-two {
  padding-bottom: 40px;
}
.lorem-two h3 {
  font-weight: 600;
  font-family: var(--poppins);
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  width: 498px;
  margin: 40px auto;
}
