@font-face {
  font-family: "SalesforceSans";
  src: url("../src/fonts/SalesforceSans-Regular.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "SalesforceSans";
  src: url("../src/fonts/SalesforceSans-Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Poppins";
  src: url("../src//fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Poppins";
  src: url("../src//fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

:root {
  --color1: #05074a;
  --color3: #0b3879;
  --color4: #ffffff;
  --color6: #eaebeb;
  --color8: #090d11;
  --salesforce: "SalesforceSans";
  --poppins: "Poppins";
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-size: 1.8rem;
  font-family: var(--salesforce), sans-serif;
}
p {
  line-height: 23.08px;
}

/* || Classes */
.fix-container {
  width: 1280px;
  margin: 0 auto;
}
.btn {
  padding: 12px 16px;
  font-size: 14px;
  border-radius: 8px;
  font-weight: 700;
  text-decoration: none;
}
.btn-primary {
  background-color: var(--color8);
  color: var(--color4);
}
.btn-secondary {
  background-color: var(--color4);
  color: var(--color8);
  border: 1px solid var(--color6);
}
nav .btn-container {
  gap: 24px;
}

/* ||  Flex Utilities */
.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-evenly {
  justify-content: space-evenly;
}
.align-items-center {
  align-items: center;
}

/* || Text Utilities */
.text-center {
  text-align: center;
}
.fw-4 {
  font-weight: 400;
}
.fw-5 {
  font-weight: 500;
}
.fw-6 {
  font-weight: 600;
}

/* || Others */
.m-0 {
  margin: 0;
}
